/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definerer farger */
:root {
  --background: #9dc0db;
  --foreground: #28292c;
  --font-abril: "Abril Fatface", serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto); /* Bruker Roboto som standard for vanlig tekst */
}

/* Setter Abril Fatface kun for overskrifter */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-abril); /* Bruker Abril Fatface her */
}

/* Snø! */
#snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Forhindrer interaksjon */
	overflow: hidden;
	z-index: 1;
  }
  
  .snowflake {
	position: absolute;
	top: -10px;
	color: #FFF;
	font-size: 1em;
	user-select: none;
	opacity: 0.8;
	animation-name: fall;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }
  
  @keyframes fall {
	0% {
	  transform: translateY(0) rotate(0deg);
	}
	100% {
	  transform: translateY(100vh) rotate(360deg);
	}
  }
